<app-nav></app-nav>

<p>app1 works!</p>

<div>{{name}}</div>
<button (click)="counterService.decrement()">-</button>
<div>{{counterService.counter}}</div>
<button (click)="counterService.increment()">+</button>
<div>{{"pipe" | currency: "html": 3}}</div>
<!-- 
  calling a function in html is bad.
  check console.log and count how many console.log of currencyPipe
  then try to click the minus and plus button and check how many console.log of currencyPipe
-->
<div>{{currencyPipe.transform("function", "html", 4)}}</div>